<!-- Include the mainLayout.html in the core folder -->
{% extends "layouts/mainLayout.html" %}

{% block body %}
    <div class="login_container">
        <div class="login_form_container">
            <div class="left">
                <form class="form_container">
                    <h1 class="padding_bottom">Login to Your Account</h1>
                    <div class="image-holder">
                        
                    </div>
                    <button type="submit" class="blue_btn">
                        Sign In
                    </button>
                </form>              
            </div>
        </div>
    </div>
{% endblock %}